<div class="card">
  <%= link_to image_tag(tweet.image, class: :card__img ), tweets_path(tweet.id) %>
  <div class="card__body">
      <p class="card__summary">
      <%= tweet.text %>
    </p>
    <%= link_to tweet.title, tweets_path(tweet.id), class: :card__title%>
  </div>
</div>