<div class="tweet__image">
  <%= image_tag @tweet.image %>
</div>
<div class="tweet__body">
  <div class="tweet__detail">
    <p class="detail__title">タイトル</p>
    <p class="detail__message">
      <%= @tweet.title %>
    </p>
  </div>
  <div class="tweet__detail">
    <p class="detail__title">自分のここを頑張ったところ</p>
    <p class="detail__message">
      <%= @tweet.text %>
    </p>
  </div>
</div>